<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="Caliburn.Micro" version="1.5.2" targetFramework="sl50" />
  <package id="Microsoft.Data.Edm" version="5.6.0" targetFramework="sl50" />
  <package id="Microsoft.Data.OData" version="5.6.0" targetFramework="sl50" />
  <package id="Microsoft.Data.Services.Client" version="5.6.0" targetFramework="sl50" />
  <package id="SilverlightToolkit-All" version="4.2010.4" targetFramework="sl50" />
  <package id="SilverlightToolkit-Core" version="4.2010.4" targetFramework="sl40" />
  <package id="SilverlightToolkit-Data" version="4.2010.4" targetFramework="sl50" />
  <package id="SilverlightToolkit-DataViz" version="4.2010.4" targetFramework="sl50" />
  <package id="SilverlightToolkit-Input" version="4.2010.4" targetFramework="sl50" />
  <package id="SilverlightToolkit-Layout" version="4.2010.4" targetFramework="sl40" />
  <package id="SilverlightToolkit-Theming" version="4.2010.4" targetFramework="sl50" />
  <package id="System.Spatial" version="5.6.0" targetFramework="sl50" />
</packages>